body {
  margin: auto 20px;
  font-family: "Open Sans", sans-serif;
}

h1 {
  margin-bottom: 35px;
}

input {
  padding: 0;
  font-family: inherit;
  text-align: center;
  border: none;
  outline: none;
  transition: border-bottom-color 0.1s;
}

.regular-timer-module {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto 20px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 15px;
}

.timer-left, .timer-right {
  width: calc(50% - 20px);
  padding-bottom: 13px;
  text-align: center;
}

.timer-separator {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 70%;
  transform: translateY(-50%);
  background-color: #000;
}

.timer-name {
  width: calc(100% - 20px);
  font-size: 35px;
  margin-bottom: 15px;
  border-bottom: 1px solid transparent;
}

.timer-name:focus {
  border-bottom-color: #3399ff;
}

.timer input {
  width: 2em;
  border-bottom: 1px solid black;
  outline: none;
  text-align: center;
  font-size: 20px;
}

.timer input:focus {
  border-bottom-color: #3399ff;
}

button.start-stop-timer {
  display: block;
  margin: 25px auto 0;
  font-family: inherit;
}
