body {
  margin: 0 20px;
  font-family: "Open Sans", sans-serif;
}

h1 {
  margin-bottom: 35px;
}

input {
  padding: 0;
  font-family: inherit;
  text-align: center;
  border: none;
  outline: none;
  transition: border-bottom-color 0.2s;
}

.normal-timer-module {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 0 auto 20px;
  padding: 20px;
  /* border: 1px solid black; */
  border-radius: 15px;
  box-shadow: 0 0 20px -3px #bbb;
}

.timer-left, .timer-right {
  width: calc(50% - 20px);
  padding-bottom: 13px;
  text-align: center;
}

.timer-separator {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 70%;
  transform: translateY(-50%);
  background-color: #000;
}

.timer-name {
  width: calc(100% - 20px);
  font-size: 35px;
  margin-bottom: 15px;
  border-bottom: 1px solid transparent;
}

.timer-name:focus {
  border-bottom-color: #3399ff;
}

.timer {
  transition: color 0.2s;
}
.timer[data-running="true"] {
  color: rgb(53, 148, 53);
}
.timer[data-running="true"].timer-last-1-min {
  color: red;
}

.timer input {
  border-bottom: 1px solid black;
  outline: none;
  text-align: center;
  font-size: 20px;
  color: inherit;
  transition: width 0.2s, border-bottom-color 0.2s;
}
.timer[data-running="true"] input {
  width: 2ch;
  border-bottom-color: transparent;
}

.timer input.time-remaining-minutes {
  width: 1ch;
}

.timer input.time-remaining-seconds {
  width: 2ch;
}

.timer input:focus {
  border-bottom-color: #3399ff;
}

.timer.timer-running input:focus {
  border-bottom-color: transparent;
}

.timer button.start-stop-timer {
  display: block;
  margin: 25px auto 0;
  font-family: inherit;
}

/* TODO: replace text content of pseudo-elements with background images */

.timer button.start-stop-timer::before {
  content: "Start";
}
.timer[data-running="false"] button.start-stop-timer::before {
  display: inline;
}
.timer[data-running="true"] button.start-stop-timer::before {
  display: none;
}

.timer button.start-stop-timer::after {
  content: "Pause";
}
.timer[data-running="false"] button.start-stop-timer::after {
  display: none;
}
.timer[data-running="true"] button.start-stop-timer::after {
  display: inline;
}

#add-timer-module {
  margin-top: 15px;
  margin-left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  border: none;
  border-radius: 9999999px;
  background-color: #0f6bea;
  color: #fff;
  outline: none;
  font-size: 20px;
  font-family: inherit;
  box-shadow: 0 0 8px 0 #0e73ff73;
  transition: background-color 0.2s, box-shadow 0.2s;
}
#add-timer-module:hover {
  background-color: #0d60d3;
  box-shadow: 0 0 11px 1px #0e73ff73;
}
#add-timer-module:active {
  background-color: #0f53b3;
}

#add-timer-module .material-icons {
  margin-top: -5px;
  margin-left: -4px;
  vertical-align: middle;
}
