body {
  margin: 0 20px 60px;
  background-image: url("img/background-75-opacity.jpg");
  background-size: 100% auto;
  font-family: "Open Sans", sans-serif;
}

h1 {
  margin-bottom: 35px;
  text-align: center;
}

button {
  font-family: inherit;
}

input[type="text"] {
  padding: 0;
  font-family: inherit;
  text-align: center;
  border: none;
  outline: none;
  transition: border-bottom-color 0.2s;
}

#title-text {
  position: relative;
  width: 70%;
  left: 50%;
  transform: translateX(-50%);
  margin: 25px 0 22px;
}

#ring-bell {
  display: block;
  margin: 0 auto 20px;
}

#timer-sections > div {
  position: relative;
  display: flex;
  width: 70%;
  justify-content: space-between;
  margin: 0 auto 20px;
  padding: 20px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0 0 20px -3px #bbb;
}

.timer-left, .timer-right {
  width: calc(50% - 20px);
  padding-bottom: 13px;
  text-align: center;
}

.timer-separator {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 70%;
  transform: translateY(-50%);
  background-color: #000;
}

.normal-timer .timer-name {
  width: calc(100% - 20px);
  font-size: 35px;
  margin-bottom: 15px;
  border-bottom: 1px solid transparent;
}

.normal-timer .timer-name:focus {
  border-bottom-color: #3399ff;
}

.chess-timer {
  flex-direction: column;
}

.chess-timer .chess-timer-internal-container {
  position: relative;
  width: 100%;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
}

.chess-timer .timer-name {
  width: 80%;
  margin: auto;
  font-size: 35px;
  margin-bottom: 15px;
  border-bottom: 1px solid transparent;
}

.chess-timer .timer-name:focus {
  border-bottom-color: #3399ff;
}

.chess-timer-internal-container .timer-left,
.chess-timer-internal-container .timer-right {
  padding-bottom: 0;
}

.chess-timer-internal-container .timer-separator {
  height: 100%;
  transform: translateY(-50%);
  background-color: #000;
}

.chess-timer .button-panel {
  display: flex;
  margin: 26px 0 5px 50%;
  transform: translateX(-50%);
  justify-content: center;
}

.chess-timer .button-panel button:not(:last-child) {
  margin-right: 10px;
}

.timer {
  transition: color 0.2s;
}
.timer[data-running="true"] {
  color: rgb(53, 148, 53);
}
.timer[data-running="true"].timer-last-1-min {
  color: red;
}

.timer input[type="text"] {
  border-bottom: 1px solid black;
  outline: none;
  text-align: center;
  font-size: 20px;
  color: inherit;
  transition: width 0.2s, border-bottom-color 0.2s;
}
.timer[data-running="true"] input[type="text"] {
  width: 2ch;
  border-bottom-color: transparent;
}

.timer input[type="text"].time-remaining-minutes {
  width: 1ch;
}

.timer input[type="text"].time-remaining-seconds {
  width: 2ch;
}

.timer input[type="text"]:focus {
  border-bottom-color: #3399ff;
}

.timer.timer-running input[type="text"]:focus {
  border-bottom-color: transparent;
}

.timer button.start-stop-timer {
  display: block;
  margin: 25px auto 0;
}

/* TODO: replace text content of pseudo-elements with background images */

.timer button.start-stop-timer::before {
  content: "Start";
}
.timer[data-running="false"] button.start-stop-timer::before {
  display: inline;
}
.timer[data-running="true"] button.start-stop-timer::before {
  display: none;
}

.timer button.start-stop-timer::after {
  content: "Pause";
}
.timer[data-running="false"] button.start-stop-timer::after {
  display: none;
}
.timer[data-running="true"] button.start-stop-timer::after {
  display: inline;
}

#add-timer-buttons-wrapper {
  display: flex;
  margin: 35px auto 0;
  justify-content: center;
}

.add-timer {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 9999999px;
  background-color: #0f6bea;
  color: #fff;
  outline: none;
  font-size: 18px;
  box-shadow: 0 0 8px 0 #0e73ff73;
  transition: background-color 0.2s, box-shadow 0.2s;
}
.add-timer:hover {
  background-color: #0d60d3;
  box-shadow: 0 0 11px 1px #0e73ff73;
}
.add-timer:active {
  background-color: #0f53b3;
}
.add-timer:not(:last-child) {
  margin-right: 20px;
}

.add-timer .material-icons {
  margin-top: -5px;
  margin-left: -4px;
  vertical-align: middle;
  font-size: inherit;
}

.delete-button-container {
  position: absolute;
  top: -10px;
  left: -10px;
}

.delete-button-container .delete {
  background-image: url("img/delete.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 10%;
  transition: all .2s ease-in-out;
}

.delete-button-container .delete:active {
  border: none;
  outline: none;
}

.delete-button-container .delete:hover {
  transform: scale(1.1);
}
